[submodule "crosstools"]
	path = crosstools
	url = ../ingenic-jz-crosstools-src.git
[submodule "unpkg"]
	path = unpkg
	url = ../np_unpkg.git
[submodule "qemu-JZ"]
	path = qemu-JZ
	url = ../qemu-JZ.git
[submodule "np_tools"]
	path = np_tools
	url = ../np_tools.git
[submodule "u-boot"]
	path = u-boot
	url = ../np_u-boot.git
[submodule "linux"]
	path = linux
	url = ../np_linux.git
